html {
  height: 100%;
  width: 100%;
  font-family: "Titillium Web", sans-serif;
}

body {
  min-height: 100%;
  min-width: 100%;
  background: rgb(13,17,22);
  background: linear-gradient(180deg, rgba(13,17,22,1) 22%, rgba(5,86,113,1) 76%, rgba(1,121,158,1) 88%);
}

button {
  font-size: 7px;
}

#main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px 20px 18px 18px;
  background: #0d1116;
  border: 1px solid #333;
  border-radius: 3px;
  color: #fff;
}

#list {
  width: 60%;
  margin: 21px 10px 10px 10px;
  padding: 15px 20px 18px 18px;
  background: #01799e;
  border: 1px solid #333;
  border-radius: 3px;
}

ul {
  list-style-type: none;
  background: papayawhip;
}