html {
  height: 100%;
  width: 100%;
  font-family: "Titillium Web", sans-serif;
}

body {
  min-height: 100%;
  min-width: 100%;
  background: rgb(13,17,22);
  background: linear-gradient(180deg, rgba(13,17,22,1) 22%, rgba(5,86,113,1) 76%, rgba(1,121,158,1) 88%);
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

h1 {
  color: #f6f6f6;
  display: inherit;
  text-align: center;
}

span {
  color: #01799e;
}

#main-content, #new-task, #submit, #list,
li, button {
  border-radius: 3px;
}

#new-task, #submit, button {
  border: 1px solid #01ade2;
}

#main-content {
  width: 80%;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 15px 20px 18px 18px;
  background: #0d1116;
  opacity: 0.95;
  color: #fff;
  align-content: center;
}

#create-task-form {
  display: flex;
  justify-content: center;
}

#new_task {
  height: 15px;
  width: 30%;
  padding: 5px 10px;
  font-size: 12px;
  align-content: center;
}

#submit {
  height: 28px;
  margin-left: 8px;
  padding: 5px 10px;
  font-size: 12px;
  color: #01ade2;
  background: #f6f6f6;
}

#list {
  margin: 0 10px 10px 10px;
  padding: 15px 20px 18px 18px;
  color: #01ade2;
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

li {
  margin: 8px 16px;
  padding: 4px 16px;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #666;
}

button {
  margin-left: 21px;
  padding: 0 6px 1px 6px;
  font-size: 16px;
  color: #01ade2;
  background: #f6f6f6;
}